{% set menu = [
	{name: "Home", path: path('index')},
] %}
{% if app.user %}
	{% set menu = menu | merge([
		{name: "Logout", path: path('logout')},
	]) %}
{% else %}
	{% set menu = menu | merge([
		{name: "Register", path: path('registration')},
		{name: "Login", path: path('login')},
	]) %}
{% endif %}
<nav>
	<div class="menu">
		{% for item in menu %}
			<div>
				<a href={{ item.path }}>{{ item.name }}</a>
			</div>
		{% endfor %}
	</div>
</nav>
