<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">
	<title>{% block title %}Shop{% endblock %}</title>
	<link rel="stylesheet" href="../../public/css/default.css">
	{% block stylesheets %}{% endblock %}
</head>
{% block header %}{% endblock %}
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
