{% extends 'AppBundle:Default:base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet"
	      href="{{ asset('assets/css/form.css') }}">
{% endblock %}

{% block title %}Register in Blog{% endblock %}

{% block body %}
	<div>
		<form>
			<h1>Registration</h1>
			<h3>Please, fill in the form</h3>
			{{ form(form) }}
		</form>
	</div>
{% endblock %}
