{% extends 'AppBundle::base.html.twig' %}

{% block title %}Welcome to Shop!{% endblock %}
{% block body %}
	<main>
		<h1>Welcome to Shop{% if app.user %}, {{ app.user.username }}{% endif %}!</h1>
	</main>
{% endblock %}
