{% set menu = [
	{name: "Home", path: path('index')},
	{name: "Register", path: path('registration')}
] %}
<nav>
	<ul class="menu">
		{% for item in menu %}
			<li>
				<a href={{ item.path }}>{{ item.name }}</a>
			</li>
		{% endfor %}
	</ul>
</nav>
